<div class="row mb-5 flex justify-content-center">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header text-center">
        <h3>Create Category</h3>
      </div>
      <div class="card-body">
        <form class="d-grid gap-3">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Category Name" [(ngModel)]="item.name">
          </div>
          <div class="form-group">
            <label for="name">Image Link</label>
            <input type="text" class="form-control" id="image" name="image" placeholder="Image Link" [(ngModel)]="item.image">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="item.description"></textarea>
          </div>
          <button class="btn btn-primary mt-5" (click)="saveItem()"> Create </button>
          <button type="button" routerLink="/admin/categories" class="btn btn-danger">Cancel </button>
        </form>
      </div>
    </div>
  </div>
</div>
